.feedback-title {
    font-weight: 700;
    font-size: 0.7rem;
    color: #727272;
    position: absolute;
    background: #fff;
    padding: 5px;
    top: 5.5%;
    margin-left: 2%;
}

.feedback-card .feedback-type {
    font-size: 0.8rem;
}

.feedback-card .feedback-area {
    font-size: 0.8rem;
    /* color: #E7E6E5; */
}