@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif !important;
}

.mr-1 {
  margin-right: 0.25rem !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.mr-3 {
  margin-right: 1rem !important;
}

.mr-4 {
  margin-right: 1.5rem !important;
}

.mr-5 {
  margin-right: 3rem !important;
}

.ml-1 {
  margin-left: 0.25rem !important;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

.ml-4 {
  margin-left: 1.5rem !important;
}

.ml-5 {
  margin-left: 3rem !important;
}

/* 4096‑by‑2304 imac resolution */
/* .main-container {
  height: calc(100vh-30px);
  padding-top: 15px;
  padding-bottom: 15px;
} */

:root {
  background-color: #F5F5F5 !important;
}

.bg-grey {
  background-color: #F5F5F5 !important;
}

.bg-white {
  background: #fff !important;
}

.no-gutter-x {
  --bs-gutter-x: 0 !important;
}

.no-gutter-y {
  --bs-gutter-y: 0 !important;
}

.col-left {
  width: 57.43% !important;
  height: 100% !important;
}

.col-right {
  width: 40.48% !important;
  height: 100% !important;
}

.top-left-section {
  width: 100% !important;
  height: 46.13% !important;
}

.bottom-left-section {
  width: 100% !important;
  height: 50.42% !important;
}

.top-right-section {
  width: 100% !important;
  height: 71.88% !important;
}

.bottom-right-section {
  width: 100% !important;
  height: 25.13% !important;
}

.custom-card {
  border-radius: 5.47px !important;
  border: none !important;
  overflow: hidden;
}